@charset "UTF-8";

/* CSS Document */

body {
	font-family: 'Nobile', sans-serif;
	color: #333;
	font-size: 16px;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 24px;
	font-weight: bold;
	font-family: 'Quattrocento', serif;
}

p {
	margin-bottom: 24px;
	font-size: 14px;
	line-height: 1.714em;
}

b, strong {
	font-weight: bold;
}

a {
	color: #780505;
	text-decoration: none;
}

a:hover {
	color: #780505;
	text-decoration: underline;
}

h1 {
	font-size: 28px;
	line-height: .8em;
	text-transform: uppercase;
}

h2 {
	font-size: 20px;
	line-height: 1.2em;
	text-transform: uppercase;
}

h3 {
	font-size: 18px;
	line-height: 1.333em;
}

h4 {
	font-size: 16px;
	line-height: 1.5em;
	font-style: italic;
	font-weight: normal;
}

#Menu {
	font-family: 'Quattrocento', serif;
	list-style: none;
	font-weight: bold;
}

#Menu a { color: #FFF; }

#Menu a:hover { text-decoration: none; }

#Menu li {
	display: inline;
	position: relative;
	float:left;
	text-transform: uppercase;
	padding: 5px 20px;
 *padding: 5px 15px;
}

#Menu li:hover {
	background: #000;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #990000;
}

#address p {
	color: #FFF;
	text-decoration: none;
}

#Footer {
	text-align: center;
	font-family: 'Droid Serif', arial, serif;
}

#Footer a {
	text-decoration: none;
	display: inline-block;
	border-right: 1px solid #FFF;
	padding-right: 24px;
	padding-left: 24px;
	color: #FFF;
	font-size: 12px;
	line-height: 1em;
}

#Footer span {
	text-decoration: none;
	display: inline-block;
	border-right: 1px solid #FFF;
	padding-right: 24px;
	padding-left: 24px;
	color: #FFF;
	font-size: 12px;
	line-height: 1em;
}

#agree { text-decoration: underline; }

table tr td {
	font-family: 'Nobile', sans-serif;
	font-size: 14px;
}

.miceText {
	font-size: 12px;
	line-height: 1.5em;
	text-align: justify;
}

#address p, #address h3 { color: #FFF; }

.menu a { color:#780505; }

.content ol li {
	margin-left: 20px;
	margin-bottom: 24px;
	font-size: 14px;
}

#kabuki a {
	color: #780505;
	text-decoration: none;
}

#kabuki a:hover { text-decoration: underline; }

.required { color: #F00; }
